@font-face {
  font-family: StarJedi;
  src: url('../fonts/Starjedi.ttf');
}

@font-face {
  font-family: StarJhol;
  src: url('../fonts/Starjhol.ttf');
}

@font-face {
  font-family: Stjedise;
  src: url('../fonts/Stjedise.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

body audio {
  position: absolute;
  left: 1rem;
  bottom: 0.5rem;
  z-index: 2;
}

body video {
  width: 100%;
  height: fit-content;
}

body div {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: fit-content;
  z-index: 1;
}

body div button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  background-color: #4C2327;

  border: none;
  border-radius: 0.5rem;

  width: 15rem;
  height: 4.5rem;

  font-family: StarJhol;
  font-size: 2em;
  font-weight: 600;
  color: #fff;

  margin: 0.5rem;
  padding: auto;
  cursor: pointer;
  outline: none;
  transition: all 250ms ease-in-out;
  animation: button-in linear 10s;
}

body div button:hover {
  background-color: #885020;
}

@keyframes button-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

@media all and (max-width:750px) {
  body {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  body video {
    height: fit-content;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  body div {
    position: relative;
    height: 6.8rem;
    margin: 0;
    padding: 0;
    background: #000;
    bottom: 0;
    transform: translateY(-0.2rem);
  }

  body audio {
    bottom: 2.5rem;
    height: 2rem;
  }
}